# PORT
PORT=
SERVER_URL=

# Enviroment
NODE_ENV=production

# DATABASE
DB_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# ARCJET
ARCJET_KEY=
ARCJET_ENV=production

# UPSTASH
QSTASH_URL=
QSTASH_TOKEN=

# NODEMAILER
EMAIL_PASSWORD=
