# PORT
PORT=5500
SERVER_URL=

# Environment
NODE_ENV=production

# DATABASE
DB_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=1d

# ARCJET
ARCJET_KEY=
ARCJET_ENV=production

# UPSTASH
QSTASH_URL=
QSTASH_TOKEN=

# NODEMAILER
EMAIL_PASSWORD=
